.breadcrumbs-section{
    background-color: #e9ecef;
}
.vertical-menu {
    width: 250px;
}
  
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.vertical-menu a:hover {
    background-color: #ccc;
}
  
.vertical-menu a.active {
    background-color: #21c58e;
    color: white;
}